.slick-next:before{
    color:#000000!important;
    font-size: 35px!important;
    /* background-color: black; */
}
.slick-prev:before{
    color: black !important;
    font-size: 35px!important;
    position: relative;
    left:-18px;
}
/* how it works section */
.count{
    background: #2cdff7;
    color: #fff;
    font-size: 25px;
    line-height: 2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 20px;
    margin-bottom:10px;
    text-align: center;
}
.count-text{
    color:rgb(5, 5, 161);
    font-size:25px;
}

/* mailsender */
.form-email{
    width:70%;
}
.mail-work{
    padding: 10%;
    position:relative;
    bottom:3.2rem!important;
    /* border:1px solid blue */
}
.mail-work1{
    border:1px solid black;
    padding:2%;
}

.mail-work1 h2{
    color:rgb(5, 5, 161);
    /* padding: 4%!important; */
    margin-top:5px!important;
    margin-bottom:10px!important;
}
/* carousel */
.carousel-indicators li{
    border-radius: 100%!important;
    width: 15px !important;
    height: 15px!important;
  }
  .d-block{
    width: 100%;
    height:540px;
  }
  /* testimonials */
  .f-block{
      height:160px;
      width:160px;
      float:left;
  }
  .carousel-control-next-icon{
      background-color: black !important;
      border-radius: 100%;
  }
  .carousel-control-prev-icon{
    background-color: black !important;
    border-radius: 100%;
}