.footer-section{  
    background-color: #D6D2C4;
    display:flex!important;
    justify-content: space-between!important;
    padding:50px;
}
@media only screen and (max-width: 584px) {
    .footer-section a{
      margin-right: 10px;
    }
  }
/* .footer{
   
} */